:host {
  display:inline-block;
  position:relative;
  overflow:visible;
}
:host([dir="top"]) ::slotted(rf-popcon){
  bottom:100%;
  left:50%;
  transform:translate(-50%,-10px) scale(0);
  transform-origin: center bottom;
}
:host([dir="top"]) ::slotted(rf-popcon[open]),
:host([dir="top"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="top"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(-50%,-10px) scale(1);
}
:host([dir="right"]) ::slotted(rf-popcon){
  left:100%;
  top:50%;
  transform:translate(10px,-50%) scale(0);
  transform-origin: left;
}
:host([dir="right"]) ::slotted(rf-popcon[open]),
:host([dir="right"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="right"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(10px,-50%) scale(1);
}
:host([dir="bottom"]) ::slotted(rf-popcon){
  top:100%;
  left:50%;
  transform:translate(-50%,10px) scale(0);
  transform-origin: center top;
}
:host([dir="bottom"]) ::slotted(rf-popcon[open]),
:host([dir="bottom"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="bottom"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(-50%,10px) scale(1);
}
:host([dir="left"]) ::slotted(rf-popcon){
  right:100%;
  top:50%;
  transform:translate(-10px,-50%) scale(0);
  transform-origin: right;
}
:host([dir="left"]) ::slotted(rf-popcon[open]),
:host([dir="left"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="left"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(-10px,-50%) scale(1);
}
:host([dir="lefttop"]) ::slotted(rf-popcon){
  right:100%;
  top:0;
  transform:translate(-10px) scale(0);
  transform-origin: right top;
}
:host([dir="lefttop"]) ::slotted(rf-popcon[open]),
:host([dir="lefttop"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="lefttop"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(-10px) scale(1);
}
:host([dir="leftbottom"]) ::slotted(rf-popcon){
  right:100%;
  bottom:0;
  transform:translate(-10px) scale(0);
  transform-origin: right bottom;
}
:host([dir="leftbottom"]) ::slotted(rf-popcon[open]),
:host([dir="leftbottom"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="leftbottom"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(-10px) scale(1);
}
:host([dir="topleft"]) ::slotted(rf-popcon){
  bottom:100%;
  left:0;
  transform:translate(0,-10px) scale(0);
  transform-origin: left bottom;
}
:host([dir="topleft"]) ::slotted(rf-popcon[open]),
:host([dir="topleft"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="topleft"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(0,-10px) scale(1);
}
:host([dir="topright"]) ::slotted(rf-popcon){
  bottom:100%;
  right:0;
  transform:translate(0,-10px) scale(0);
  transform-origin: right bottom;
}
:host([dir="topright"]) ::slotted(rf-popcon[open]),
:host([dir="topright"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="topright"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(0,-10px) scale(1);
}
:host([dir="righttop"]) ::slotted(rf-popcon){
  left:100%;
  top:0;
  transform:translate(10px) scale(0);
  transform-origin: left top;
}
:host([dir="righttop"]) ::slotted(rf-popcon[open]),
:host([dir="righttop"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="righttop"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(10px) scale(1);
}
:host([dir="rightbottom"]) ::slotted(rf-popcon){
  left:100%;
  bottom:0;
  transform:translate(10px) scale(0);
  transform-origin: left bottom;
}
:host([dir="rightbottom"]) ::slotted(rf-popcon[open]),
:host([dir="rightbottom"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="rightbottom"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(10px) scale(1);
}
:host([dir="bottomleft"]) ::slotted(rf-popcon),
:host(:not([dir])) ::slotted(rf-popcon){
  left:0;
  top:100%;
  transform:translate(0,10px) scale(0);
  transform-origin: left top;
}
:host(:not([dir])) ::slotted(rf-popcon[open]),
:host(:not([dir])[trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host(:not([dir])[trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon),
:host([dir="bottomleft"]) ::slotted(rf-popcon[open]),
:host([dir="bottomleft"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="bottomleft"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(0,10px) scale(1);
}
:host([dir="bottomright"]) ::slotted(rf-popcon){
  right:0;
  top:100%;
  transform:translate(0,10px) scale(0);
  transform-origin: right top;
}
:host([dir="bottomright"]) ::slotted(rf-popcon[open]),
:host([dir="bottomright"][trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([dir="bottomright"][trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  transform:translate(0,10px) scale(1);
}
:host([trigger="contextmenu"]) ::slotted(rf-popcon){
  right:auto;
  bottom:auto;
  left:var(--x,0);
  top:var(--y,100%);
  transform-origin: left top;
  transform:translate(5px,5px) scale(0);
  transition: .15s;
}
:host([trigger="contextmenu"]) ::slotted(rf-popcon[open]){
  transform:translate(5px,5px) scale(1);
}
:host ::slotted(rf-popcon[open]),
:host([trigger="hover"]:not([disabled]):hover) ::slotted(rf-popcon),
:host([trigger="focus"]:not([disabled]):focus-within) ::slotted(rf-popcon){
  opacity:1;
  visibility:visible;
}
slot{
  border-radius: inherit;
}